.create-user__form {
   display: flex;
   margin-left: auto;
   margin-right: auto;
}

.create-user__input {
   width: 300px;
   padding: 10px 15px;
   margin-left: 20px;
   margin-right: 20px;
   margin-bottom: 20px;
   border-radius: 50px;
   border: 1px solid #515977;
   font-size: 16px;
   outline: none;
}

.create-user__btn {
   height: 40px;
   margin-left: auto;
   padding: 10px 15px;
   max-width: 150px;
   width: 100%;
   border-radius: 50px;
   border: 1px solid #515977;
   font-size: 16px;
   color: #515977;
   cursor: pointer;

   &:hover {
      background-color: #d6d7d8;
   }
}

.create-user__list {
   margin: 0;
   margin-left: 20px;
   padding: 0;
   list-style-type: none;
}

.create-user__item {
   padding: 5px 15px;
   display: flex;
   justify-content: space-between;
   align-items: center;
   background-color: #fff;
   max-width: 300px;
}

.create-user__bin-btn {
   display: flex;
   align-items: center;
   justify-content: center;
   width: 36px;
   height: 36px;
}
