.settings {
   padding: 20px 20px;
}

.settings__list {
   margin: 0;
   margin-left: auto;
   margin-right: auto;
   margin-bottom: 30px;
   padding: 0;
   display: flex;
   justify-content: space-between;
   background-color: #fff;
   border-radius: 50px;
   max-width: 300px;
   overflow: hidden;
   list-style-type: none;
}

.settings__link {
   display: inline-block;
   padding: 15px 34.5px;
   text-decoration: none;
   color: #a5a5a5;
   border-radius: 50px;
   white-space: nowrap;
}

.settings__link-active {
   background-color: #EDEEF1;
   color: #515977;
}
